<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="f" method="post" action="/process_login">

    <label for="username">Enter username: </label>
    <input name="username" type="text" id="username" required minlength="2" maxlength="90"/>
    <br/>
    <label for="password">Enter password: </label>
    <input name="password" type="password" id="password" required minlength="2" maxlength="90"/>
    <br/>
    <input type="submit" value="Login"/>

    <div th:if="${param.error}" style="color: red">
        Incorrect username or password!
    </div>
</form>

</body>
</html>